.header {}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 112px;
}

.burger {
    display: none;
    border: none;
    background: transparent;
}

.popup {
    display: none;
}

.displayBlock {
    display: flex !important;
}

@media (max-width: 984px) {
    .header__logoImg {
        width: 80px;
        height: 80px;
    }

    .header__text {
        width: 66px;
        height: 36px;
    }

    .navigation__list {
        gap: 20px;
    }

    .header__btns {
        gap: 10px;
    }

    .btnContact {
        padding: 12px 24px;
    }

    .btn {
        padding: 12px 24px;
    }
}

@media (max-width: 850px) {
    .burger {
        display: block;
    }

    .popup {
        display: block;
        position: absolute;
        left: 200%;
        right: 0;
        top: 0;
        bottom: 0;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: left 400ms linear;
    }

    .popup__active {
        left: 0%;
    }

    .popup__inner {
        background: #1f1c2d;
        width: 400px;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        flex-direction: column;
        padding: 10px;
    }

    .navigation__list {}

    .header__btns {}
}